receivers:
  otlp:
    protocols:
      http:
        endpoint: "0.0.0.0:4318"
      grpc:
        endpoint: "0.0.0.0:4317"

processors:
  batch:

exporters:
  file:
    # Dynamically creates files like: /var/log/apps/clipboard.log
    path: /var/log/apps/*.log
    rotation:
      max_megabytes: 10
      max_backups: 5
    group_by:
      resource_attribute: service.name

service:
  pipelines:
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [file]